USE [master]
GO
/****** Object:  Database [KhuPho]    Script Date: 8/8/2022 9:08:18 PM ******/
CREATE DATABASE [KhuPho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KhuPho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KhuPho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KhuPho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KhuPho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KhuPho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KhuPho]
GO
/****** Object:  Table [dbo].[HODAN]    Script Date: 8/8/2022 9:08:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HODAN](
	[maHoDan] [char](10) NOT NULL,
	[soThanhVien] [int] NULL,
	[soNha] [nvarchar](50) NULL,
	[maKhuPho] [char](10) NOT NULL,
 CONSTRAINT [PK_tblmaHoDan] PRIMARY KEY CLUSTERED 
(
	[maHoDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUPHO]    Script Date: 8/8/2022 9:08:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUPHO](
	[maKhuPho] [char](10) NOT NULL,
	[tenKhuPho] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblmaKhuPho] PRIMARY KEY CLUSTERED 
(
	[maKhuPho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI]    Script Date: 8/8/2022 9:08:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI](
	[maNguoi] [char](10) NOT NULL,
	[hoVaTen] [nvarchar](30) NOT NULL,
	[tuoi] [int] NULL,
	[namSinh] [int] NULL,
	[ngheNghiep] [nvarchar](50) NULL,
	[maHoDan] [char](10) NOT NULL,
 CONSTRAINT [PK_tblNguoi] PRIMARY KEY CLUSTERED 
(
	[maNguoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERITEM]    Script Date: 8/8/2022 9:08:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERITEM](
	[tenTaiKhoan] [char](10) NOT NULL,
	[matKhau] [char](10) NOT NULL,
	[vaitro] [bit] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[tenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HODAN] ([maHoDan], [soThanhVien], [soNha], [maKhuPho]) VALUES (N'HD01      ', 2, N's? 4 Tr?n Ð?i Nghia', N'KP01      ')
INSERT [dbo].[HODAN] ([maHoDan], [soThanhVien], [soNha], [maKhuPho]) VALUES (N'HD02      ', 1, N'số 5 Bách Khoa', N'KP02      ')
INSERT [dbo].[HODAN] ([maHoDan], [soThanhVien], [soNha], [maKhuPho]) VALUES (N'HD03      ', 0, N's? 3 Nhan Ðàm', N'KP01      ')
GO
INSERT [dbo].[KHUPHO] ([maKhuPho], [tenKhuPho]) VALUES (N'KP01      ', N'Tran Dai Nghia')
INSERT [dbo].[KHUPHO] ([maKhuPho], [tenKhuPho]) VALUES (N'KP02      ', N'Bach Khoa')
INSERT [dbo].[KHUPHO] ([maKhuPho], [tenKhuPho]) VALUES (N'KP03      ', N'ThuCute')
GO
INSERT [dbo].[NGUOI] ([maNguoi], [hoVaTen], [tuoi], [namSinh], [ngheNghiep], [maHoDan]) VALUES (N'NG01      ', N'Trần Văn A', 22, 2000, N'Sinh Viên', N'HD01      ')
INSERT [dbo].[NGUOI] ([maNguoi], [hoVaTen], [tuoi], [namSinh], [ngheNghiep], [maHoDan]) VALUES (N'NG02      ', N'Trần Văn B', 23, 2001, N'Sinh Viên', N'HD02      ')
INSERT [dbo].[NGUOI] ([maNguoi], [hoVaTen], [tuoi], [namSinh], [ngheNghiep], [maHoDan]) VALUES (N'NG03      ', N'Nguyen Thị T', 22, 2001, N'Sinh Viên', N'HD01      ')
GO
INSERT [dbo].[USERITEM] ([tenTaiKhoan], [matKhau], [vaitro]) VALUES (N'admin     ', N'admin     ', 1)
INSERT [dbo].[USERITEM] ([tenTaiKhoan], [matKhau], [vaitro]) VALUES (N'bachtran  ', N'123       ', 0)
GO
ALTER TABLE [dbo].[HODAN]  WITH CHECK ADD  CONSTRAINT [FK_HODAN_KHUPHO] FOREIGN KEY([maKhuPho])
REFERENCES [dbo].[KHUPHO] ([maKhuPho])
GO
ALTER TABLE [dbo].[HODAN] CHECK CONSTRAINT [FK_HODAN_KHUPHO]
GO
ALTER TABLE [dbo].[NGUOI]  WITH CHECK ADD  CONSTRAINT [FK_NGUOI_HODAN] FOREIGN KEY([maHoDan])
REFERENCES [dbo].[HODAN] ([maHoDan])
GO
ALTER TABLE [dbo].[NGUOI] CHECK CONSTRAINT [FK_NGUOI_HODAN]
GO
USE [master]
GO
